@charset "UTF-8";
// Variables;
@import 'components/variables/settings';
// Vendor
@import '~bootstrap/scss/bootstrap';
// Generic Styling
html {
  font-size: $font-size-default; //base size for rem units
}

body {
  font-family: $font-family-default;
  background-color: $bg-color;
}

form {
  width: 90%;
  background-color: whitesmoke;
  border-radius: 8px;
  position: absolute;
  top: 10%;
  z-index: 1;
  box-shadow: 0 1px 2px 0 grey, 0 1px 8px 0 grey;
  padding: 10px;

  @media (min-width: 768px) {
    width: 40%;
  }

  @media (min-width: 992px) {
    width: 30%;
  }

  @media (min-width: 1200px) {
    width: 20%;
  }
}

.toaster {
  position: absolute;
  top: 10%;
  right: 5%;
  z-index: 2;
  opacity: 0.8;
  border-radius: 8px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
